CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/bcm/ar6mx/ar6mxs.cfg,MX6QDL,ANDROID_SUPPORT"
CONFIG_ARM=y
CONFIG_TARGET_BCM_AR6MX=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
